ale-py==0.7.3
AutoROM==0.4.2
AutoROM.accept-rom-license==0.4.2
Bottleneck @ file:///tmp/build/80754af9/bottleneck_1607575130224/work
box2d-py @ file:///home/conda/feedstock_root/build_artifacts/box2d-py_1636082414273/work
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1631273254894/work
configparser==5.2.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
Cython==0.29.25
docker-pycreds==0.4.0
fasteners==0.16.3
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1639926289397/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1635819506105/work
gitdb==4.0.9
GitPython==3.1.24
glfw==2.4.0
grpcio==1.43.0
gym==0.20.0
gym-unity==0.28.0
idna==3.3
imageio==2.13.3
importlib-resources==5.4.0
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1635836719639/work
lockfile==0.12.2
lz4 @ file:///home/conda/feedstock_root/build_artifacts/lz4_1638019310367/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1639359646028/work
mlagents-envs==0.28.0
mujoco-py==2.1.2.14
munkres==1.1.4
numexpr @ file:///tmp/build/80754af9/numexpr_1618856164048/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1636145338621/work
nvidia-ml-py3==7.352.0
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opencv-python==4.5.4.60
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.3.4
pathtools==0.1.2
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1636558800840/work
plotly==5.4.0
promise==2.3
protobuf==3.19.1
psutil==5.8.0
pybullet @ file:///home/conda/feedstock_root/build_artifacts/bullet_1639128931360/work
pycparser==2.21
pyglet @ file:///home/conda/feedstock_root/build_artifacts/pyglet_1618311515322/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636757021002/work
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.3
PyYAML==6.0
requests==2.26.0
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1637806669496/work
sentry-sdk==1.5.0
shortuuid==1.0.8
six @ file:///tmp/build/80754af9/six_1623709665295/work
smmap==5.0.0
subprocess32==3.5.4
tenacity==8.0.1
termcolor==1.1.0
torch==1.10.0+cu113
torchaudio==0.10.0+cu113
torchvision==0.11.1+cu113
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1635819584296/work
tqdm==4.62.3
typing_extensions==4.0.1
urllib3==1.26.7
wandb==0.12.7
yaspin==2.1.0
zipp==3.6.0
